body {
    background-image: url(imagenes/background-body.jpg);
}

.intro {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}

.intro p {
    text-align: center;
    font-size: 15px;
    padding: 10px;
     }

.boton-container {
    padding: 20px;
}

.botones {
    color: white;
    background-color: rgb(0, 150, 255);
    border-radius: 4px;
    padding: 15px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
}

.canvas {

    background-color: black;
    background-position-x: center;
    background-position-y: center;
    text-align: center;
    border-radius: 10px;
    border: white 1px solid;
    box-shadow: 10px #888888;
    margin-top: 20px;
}

.boton {
    color: white;
    background-color: rgb(0, 150, 255);
    border-radius: 4px;
    padding: 15px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    margin-top: 30px;
}

.botones:hover {
    background-color: white;
    color: rgb(0, 150, 255);
}